<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5 class="d-inline bg-light px-3">会員情報編集</h5>
    </div>
  </div>

  <div class="row mt-5">
    <!--名前-->
    <div class="col-md-12">
    <%= form_with model: @customer do |f| %>
      <div class="field d-md-flex">
        <div class="col-md-2">
          <label for="inputFullName">氏名</label>
        </div>
        <div class="col-md-4 mb-sm-2">
        <%= f.text_field :last_name, autofocus: true, id: "last_name", class: "form-control " %>
        </div>
        <div class="col-md-4">
        <%= f.text_field :first_name, autofocus: true, id: "first_name", class: "form-control " %>
        </div>
      </div>

      <!--フリガナ-->
      <div class="field d-md-flex mt-3">
        <div class="col-md-2">
        <label for="inputFullNameKana">フリガナ</label>
        </div>
        <div class="col-md-4 mb-sm-2">
        <%= f.text_field :last_name_kana, autofocus: true, id: "last_name_kana", class: "form-control " %>
        </div>
        <div class="col-md-4">
        <%= f.text_field :first_name_kana, autofocus: true, id: "first_name_kana", class: "form-control " %>
        </div>
      </div>
      <div class="field d-md-flex mt-3">
        <div class="col-md-2">
          <label for="inputPostalCode">郵便番号</label>
        </div>
        <div class="col-md-4">
          <%= f.text_field :postal_code, autofocus: true, id:"postal_code", class:'form-control' %>
        </div>
      </div>

      <div class="field d-md-flex mt-3">
        <div class="col-md-2">
          <label for="inputAddress">住所</label>
        </div>
        <div class="col-md-9">
        <%= f.text_field :address, autofocus: true, id:"address", class:'form-control' %>
        </div>
      </div>
      <div class="field d-md-flex mt-3">
        <div class="col-md-2">
          <label for="inputTelephoneNumber">電話番号</label>
        </div>
        <div class="col-md-4">
        <%= f.text_field :telephone_number, autofocus: true, id:"telephone_number", class:'form-control' %>
        </div>
      </div>
      <div class="field d-md-flex mt-3">
        <div class="col-md-2">
          <label for="inputEmail">メールアドレス</label>
        </div>
        <div class="col-md-4">
        <%= f.email_field :email, autofocus: true, id:"email", class: "form-control" %>
        </div>
      </div>
      <div class="action mt-3 d-md-flex">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-4">
          <%= f.submit "編集内容を保存",class: "btn btn-success px-4" %>
        </div>
        <div class="col-md-3 mt-md-0 mt-sm-3">
          <%= link_to '退会する', unsubscribe_path,class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
