<div class="container">
  <div class="text-success mb-3"> <%= flash[:notice] %> </div>
  <div class="row">
    <div class="col-md-10 d-flex mx-auto">
      <div class="mr-auto">
        <h5 class="d-inline bg-light px-4 text-center">商品一覧</h5>
      </div>
      <div>
        <%= link_to new_admin_item_path, class: 'text-dark' do %>
        <i class="fa-regular fa-square-plus fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-11 mx-auto">
      <table class="table mt-4 border-bottom">
        <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
        </thead>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>

          <%if item.is_active %>
          <td class="text-success">
          販売中
                </td>
                <% else %>
                <td class="text-secondary">
                販売停止中
                </td>
                <% end %>
        </tr>
        <% end %>
      </table>




    </div>


    <%#= paginate items %>

  </div>
</div>