<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h5 class="d-inline bg-light px-4">商品詳細</h5>
    </div>
  </div>

  <div class="row mt-4">
    <!--商品画像-->
    <div class="col-md-4">
      <%= image_tag @item.item_image,size: '300x200', url: admin_item_path %>
    </div>

    <div class="col-lg-8">

      <table class="table-sm">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <td>××（<%= @item.price.to_s(:delimited) %>）<span>円</span></td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <%if @item.is_active %>
          <td class="text-success">販売中</td>
          <% else %>
          <td class="text-secondary">販売停止中</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <%= link_to '編集する', edit_admin_item_path, class: 'btn btn-success px-4 mt-4' %>
    </div>

  </div>

        </div>
      </div>
    </div>
  </div>
</div>
