
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!--ジャンル検索-->
      <div class="card mt-3">
        <div class="card-header">
        ジャンル検索
        </div>
        <% @genres.each do |genre| %>
        <div class="my-2">
          <p class="card-text ml-3"><%= genre.name %></p>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 mt-3">

      <div class="card mb-3" style="">
        <img class="card-img" src="/top_2.jpg" alt="">
        <div class="card-img-overlay d-flex align-items-center">
          <p class="text-white">
            <strong>ようこそ、ながのCAKEへ！</strong><br />
            このサイトは、ケーキ販売のECサイトになります。<br />
            会員でない方も商品の閲覧はできますが、<br />
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>

      <h5><strong>新着商品</strong></h5>

      <div class="row">


      <% @items.each do |item| %>
      <div class="new-items inline-block">
        <div style="width:10rem;">
          <%= image_tag item.item_image,size: '150x100', url: item_path(item.id) %>
            <p class="card-title mb-1 mt-3"><%= item.name %></p>
            <p class="card-text">¥<%= item.price.to_s(:delimited) %></p>
        </div>
      </div>
      <% end %>


      <div class="col-md-10 d-flex justify-content-end mx-auto mt-3">
      <%= link_to '全ての商品を見る>', items_path %>

      </div>
    </div>
  </div>
</div>