<!--ジャンル一覧・追加ページ-->
<div class="container">
    <!--<div class="text-success mb-3"> <%= flash[:notice] %> </div>-->
  <div class="row">
    <h5 class="bg-light d-inline px-4 ml-5">ジャンル一覧・追加</h5>
  </div>

  <div class="row mt-5">
  <!--ジャンル登録-->
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
    <div class="col-md-12 d-md-flex">
      <div class="col-md-3">
        <%= f.label :'ジャンル名'%>
      </div>

      <div class="col-md-7">
        <%=f.text_field:name, placeholder: "ジャンル名", class: 'form-control mb-3' %>
      </div>

      <div class="col-md-4">
        <button type="submit" class="btn btn-success mb-3">新規登録</button>
      </div>
    </div>
    <% end %>
  </div>


  <!--ジャンル編集-->
  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <thead class="bg-light">
        <tr>
          <th class="px-5">ジャンル</th>
          <th></th>
        </tr>
        </thead>
      <% @genres.each do |genre| %>
        <tr class="border-bottom my-auto">
          <td><%= genre.name %></td>
          <td>
            <%#= link_to "Edit", edit_book_path(@books.id), class:'btn bg-success text-white' %>
            <%= link_to '編集する', edit_admin_genre_path(genre.id), class: 'btn btn-success' %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>