<div class="container">
    <div class="row">
      <div class="col-md-11 d-flex justify-content-end mx-auto">
        <h5 class="mr-auto">ショッピングカート</h5>
        <button class="btn btn-danger">カートを空にする</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table mt-3">
          <thead>
            <tr>
              <th colspan="2">商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>

          <!--1つ目の配列.zip(2つ目の配列) do |変数１,変数２|-->
          <% @cart_items.zip(@items) do |cart_item, item|%>
          <tr>
            <td colspan="2"><%= item.name %></td>
            <td><%= item.price %></td>
            <td>
              <%= cart_item.amount %>
              <button class="btn btn-success">変更</button>
            </td>
            <td>
              <%= (cart_item.price * 1.1).floor * cart_item.amount %>

              <%= form_with model: @cart_item do |cart_item| %>
               <!--以下の一行がプルダウンを実装するためのコード（追記部分）-->
                <%= f.collection_select :amount, @cart_items, :amount %>
                <%= f.submit '変更'%>
              <% end %>
            </td>
            <td>
              <% if @cart_item.customer == current_customer %>
                <%= link_to "削除する", current_user.cart_items.destroy_all, method: :delete %>
              <% end %>

              <button class="btn btn-danger">削除する</button>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>