<div class="container">
    <div class="row">
        <h5 class="mr-auto d-inline bg-light px-4">注文情報確認</h5>
    </div>

    <div class="row">
      <div class="col-md-8">
        <table class="table table-bordered mt-3">
          <thead class="bg-light">
            <td>商品名</td>
            <td>単価(税込)</td>
            <td>数量</td>
            <td>小計</td>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <!--商品名-->
              <td>
                <%= image_tag cart_item.item.item_image,size: '60x40' %>
                <%= cart_item.item.name %>
              </td>
              <!--単価-->
              <td>
                <%= cart_item.item.with_tax_price.to_s(:delimited) %>
              </td>
              <!--数量-->
              <td>
                <%= cart_item.amount %>
              </td>
              <td><%= cart_item.subtotal.to_s(:delimited) %></td>

            </tr>
            <!--合計金額　※表示されてないのでeach文にいれておけば大丈夫！-->
            <% @total +=  cart_item.subtotal %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <table class="table table-bordered">
          <tr>
            <td class="bg-light">送料</td>
            <td>
              <!--全国一律800円！-->
              <%= @order.postage %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">商品合計</td>
            <td></td>
          </tr>
          <tr>
            <td class="bg-light">請求金額</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

      <div class="row my-1">
        <div class="col-md-3 mx-auto">
          <%= link_to '注文を確定する' ,complete_path, class:"btn btn-success mx-auto" %>
        </div>
      </div>
</div>