<!--会員用ログインページ-->

<div class="container">
  <div class="row mt-5 mx-md-auto">
    <div class="col-md-11 mx-auto">
      <h4 class="bg-light d-inline">ログイン</h4>
    </div>

    <div class="col-md-10 mx-md-auto mt-3">
      <p class="bg-light d-inline">会員の方はこちらからログイン</p>
      <div class="col-md-9 mx-auto">

      <%= form_with model: @customer ,url: customer_session_path do |f| %>

        <div class="mb-3 mt-2 row">
          <div class="field d-md-flex my-2">
            <div class="col-md-3">
              <%= f.label :メールアドレス %>
            </div>
          <div class="col-md-8 ml-md-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
        </div>
      </div>
      <div class="field d-md-flex my-2">
        <div class="col-md-3">
          <%= f.label :'パスワード' %>
        </div>
        <div class="col-md-8 ml-md-5">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>


            <div class="actions mt-3">
              <button type="submit" class="btn btn-primary mb-md-5">
              ログイン
              </button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <p class="bg-light d-inline">会員登録がお済みでない方</p>
    </div>
    <div class="col-md-9 d-sm-inline mx-md-auto">
      <%= link_to new_customer_registration_path do %>
      こちら
      <% end %>
      <span>から新規登録を行ってください。</span>
    </div>
  </div>
</div>

