<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c1c2279c79.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <!--ヘッダーここから-->
    <header class="bg-light text-secondary shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-1 text-dark" href="/"><strong>ながのCAKE</strong></a>
          <!--レスポンシブボタン-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--レスポンシブボタンここまで-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--ナビゲーション-->
            <ul class="navbar-nav ml-auto">

            <!--カスタマーログイン-->
            <% if customer_signed_in? %>
              <li class="nav-item">
                <p class="text-left mt-2 mr-md-5 text-success">ようこそ、<%= current_customer.last_name %>さん!</p>
              </li>
              <!--マイページ-->
              <li class="nav-item">
                <%= link_to 'マイページ', my_page_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--商品一覧-->
              <li class="nav-item">
                <%= link_to '商品一覧', items_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--カート-->
              <li class="nav-item">
              <%= link_to 'カート', cart_items_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--ログアウト-->
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary my-1' %>
              </li>

              <% elsif admin_signed_in? %>
              <!--管理者ログイン-->
              <!--商品一覧-->
              <li class="nav-item">
                <%= link_to '商品一覧', admin_items_path, class: 'nav-link btn btn-outline-secondary mr-md-2  my-1' %>
              </li>
              <!--会員一覧-->
              <li class="nav-item">
              <%= link_to '会員一覧', admin_customers_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--注文履歴一覧-->
              <li class="nav-item">
              <%= link_to '注文履歴一覧', admin_root_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--ジャンル一覧-->
              <li class="nav-item">
              <%= link_to 'ジャンル一覧', admin_genres_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--ログアウト-->
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>

              <% else %>
              <!--未ログインユーザー-->
              <!--アバウト-->
              <li class="nav-item">
                <%= link_to 'About',about_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--商品一覧-->
              <li class="nav-item">
                <%= link_to '商品一覧',items_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--新規登録-->
              <li class="nav-item">
                <%= link_to '新規登録' ,new_customer_registration_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
              </li>
              <!--ログイン-->
              <li class="nav-item">
                <% if request.fullpath.include? "/admin" %>
                  <!--admin側のheaderを返す-->
                  <%= link_to 'ログイン', new_admin_session_path, class: 'nav-link btn btn-outline-secondary mr-md-2 my-1' %>
                  <% else %>
                  <!--user側のheaderを返す-->
                  <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link btn btn-outline-secondary my-1' %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="m-5">
    <%= render partial: 'layouts/flash_window' %>
    <%= yield %>
    </main>
    <footer>
      <div class="bg-secondary text-secondary py-4 fixed-bottom"></div>
    </footer>
  </body>
</html>
